.header-card{
    
    margin-bottom: 1rem;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    
    
}

/* .card-content{
    width: 250px;
    
} */

.card-content button{
    margin-left: -6px;
}