.header-card{
    height: 135.5px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-content{
    width: 250px;
}

.card-content button{
    margin-left: -6px;
}