.product-inputs{
    margin-right: 1rem;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-top: 3.5rem;
    margin-left: 1rem;
  }
  
  .upload-btn {
    border: none;
    color: #ffffff;
    background-color: var(--ternary);
    padding: .5rem 1rem;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    
    left: 0;
    top: 0;
    opacity: 0;
  }
