.topBar{
border-bottom: 1px solid lightgray;
}
.dropbtn {
  
    color: #dcdcdc;
  
    font-size: 16px;
    border: none;
  }

  .dropdown:hover{
      color: lightcoral;
      cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
      margin-top:6px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .signIn-btn:hover{
      color: rgb(232, 232, 232);
      cursor: pointer;
  }

  .signIn-btn{
    color: lightcoral;
    cursor: pointer;
}
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {color: lightcoral;}

  .imp-links{
      width: 300px;
  }