/* colors */
:root{
    --primary:#F9BC02;
    --secondary:#333333;
    --dark:#2e2e2e;
    --danger: #FE4545;
    --pure: #FEFEFE;
    --light: #F0F0F0;

}

.bg-brand-dark{
    background-color: var(--secondary);
}

.brand-text-primary{
    color: var(--primary);
}

.brand-text-secondary{
    color: var(--secondary);
}

.brand-text-dark{
    color: var(--dark);
}

.brand-text-light{
    color: var(--light);
}

.brand-btn-regular-primary{
    color: white;
    background: var(--primary);
    border: none;
    border-radius: 20px;
    padding: .5rem 1rem;

}

.brand-btn-regular-primary:hover{
background: #eeb301;
}
.brand-btn-text-primary{
    color: var(--primary);
    background: none;
    border: none;
    border-radius: 20px;
    transition: all ease .4s;
    
}
.brand-btn-text-primary:hover{
    color: white;
    background: var(--primary);
    padding: .2rem .5rem;
}