/* colors */
:root{
    --primary:#FFA96B;
    --secondary:#2e2e2e;
    --ternary:#6C6C6C;
    --danger: #FE4545;
    --pure: #FEFEFE;
    --light: #F0F0F0;
    --heaven:#FFFFFF;
    --footer:#2D333F;
}

.bg-brand-dark{
    background-color: var(--secondary);
}