/* colors */
:root{
    --primary:#F9BC02;
    --secondary:#25387C;
    --dark:#2e2e2e;
    --danger: #FE4545;
    --pure: #FEFEFE;
    --light: #F0F0F0;

}

.bg-brand-dark{
    background-color: var(--secondary);
}

.brand-text-parimary{
    color: var(--primary);
}

.brand-text-secondary{
    color: var(--secondary);
}

.brand-text-dark{
    color: var(--dark);
}

.brand-text-light{
    color: var(--light);
}